.nav.nav--inline
  - if @page >= 10
    .nav-item
      = link_to I18n.t('logs.first'), log_file_path(log_file)

  - pages_range.each do |page|
    .nav-item
      - if page != @page
        = link_to page, log_file_path(log_file) + "?page=#{page}"
      - else
        = page

  - if last_range != (pages_range[0]..pages_range.last)
    .nav-item
      = link_to I18n.t('logs.last'), log_file_path(log_file) + "?page=#{@pages}"
