= I18n.t('logs.pages') + @pages.to_s
= I18n.t('logs.lines_per_page') + @per_page.to_s
= I18n.t('logs.all_pages')
%div
  - @pages.times do |i|
    - page = i + 1
    = link_to page, log_file_path(log_file) + "?page=#{page}"
