= "Pages: #{@pages}"
= "Lines per page: #{@per_page}"
%ul
  - if @pages != @page
    %li
      = link_to 'Last', log_file_path(log_file) + "?page=#@pages"

  %li
    Render here up to 10 pages
  - if @page != 1
    %li
      = link_to 'First', log_file_path(log_file)
